label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

input,
textarea {
   width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.response {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: green;
}

.form-container{
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}